# Rust
target/
config.yaml
config*.yaml
**/*.rs.bk
**/*.ipynb
**/*.js
.ipynb_checkpoints
# Local environment configuration
.envrc
.env
debug
docs
# project
.vscode/

# Tests
*.log

# OS related
### MacOS ###
.DS_Store

pkg/
tmp/
data/
nohup.out
config.yaml

# wasm-pack related
package-lock.json
dist/
node_modules/

# snark
.!*
*.circom
